<li class="list-group-item">
  <div [ngClass]="{'alert alert-success ': post.loveIts>0,'alert alert-danger': post.loveIts<0}" class="alert col-md-12" role="alert">
    <div class="row">
      <div class ="col-md-6">
        <h4 >{{post.id}} -  {{post.title}}</h4>
      </div>
      <div class ="col-md-6">
        <h6 class="float-right">{{post.createdAt|date:'short' }}</h6>
      </div>
    </div>


    <p>{{post.content}}</p>
    <hr />
    <button (click)="onLike()" type="button" class="btn btn-success">Success</button>
    <button (click)="onDislike()" type="button" class="btn btn-danger">Danger</button>
  </div>
</li>
